.profile {
  margin: 74px auto 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .profile {
    margin: 236px auto 269px;
  }
}

@media (max-width: 425px) {
  .profile {
    margin: 70px auto 40px;
  }
}

.profile__title {
  margin: 0 0 123px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}

@media (max-width: 768px) {
  .profile__title {
    margin: 0 0 96px;
  }
}

@media (max-width: 425px) {
  .profile__title {
    margin: 0 0 80px;
  }
}

.profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 425px) {
  .profile__form {
    width: 260px;
  }
}

.profile__data-container {
  padding: 17px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.profile__data-container:first-of-type {
  padding-top: 0;
}

.profile__data-container:last-of-type {
  padding-bottom: 0;
  border: none;
}

.profile__input-name {
  margin: 0;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.profile__input {
  width: 200px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: #FFFFFF;
}

.profile__input:focus {
  font-weight: 600;
}

.profile__links {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 768px) {
  .profile__links {
    margin-top: 210px;
  }
}

@media (max-width: 425px) {
  .profile__links {
    margin-top: 379px;
  }
}

.profile__edit-button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
}

.profile__edit-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 425px) {
  .profile__edit-button {
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__logout-link {
  display: flex;
  flex-direction: column;
  height: 16px;
  text-decoration: none;
}

.profile__logout-button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #EE3465;
}

.profile__logout-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 425px) {
  .profile__logout-button {
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__button {
  margin-top: 223px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .profile__button {
    margin-top: 213px;
  }
}

@media (max-width: 425px) {
  .profile__button {
    margin-top: 369px;
  }
}

.profile__error-message {
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.profile__error-message_success {
  color: #3DDC84;
}

.profile__submit-button {
  padding: 13px 0 15px;
  border: none;
  border-radius: 3px;
  background-color: #3456F3;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.profile__submit-button:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.profile__submit-button:hover {
  opacity: 0.7;
  cursor: pointer;
}