.movies-error {
  padding: 50px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .movies-error {
    padding: 30px 30px;
  }
}

@media (max-width: 425px) {
  .movies-error {
    padding: 10px 10px;
  }
}

.movies-error__message {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.88px;
  color: #FF004C;
}

@media (max-width: 425px) {
  .movies-error__message {
    font-size: 14px;
    line-height: 17px;
  }
}