.more-button {
  width: 100%;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .more-button {
    margin-top: 80px;
  }
}

@media (max-width: 425px) {
  .more-button {
    margin-top: 76px;
  }
}

.more-button__button {
  width: 100%;
  padding: 11px 0 9px;
  border: none;
  border-radius: 6px;
  background-color: #2F2F2F;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  color: #FFFFFF;
}

.more-button__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.more-button__button_hide {
  display: none;
}